.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 265px 45px 449px;
}
.text{
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #adadad;
}

.list{
    display: flex;
    align-items: center;
}

.item:not(:last-child){
    margin-right: 40px;
}

.link{
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: #adadad;
}